/* === Глобальные отступы и расположение === */

.main {
  display: flex;
  flex-direction: column;
  gap: 148px;
}

.content-section {
  width: 100%;
  margin: 0 auto;
}

/* === Header === */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 24px;
}

.header__nav-list {
  display: flex;
  gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__nav-item {
  position: relative;
}

/* Кружок-маркер для пунктов меню (кроме первого) */
.header__nav-item:not(:first-child)::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
  border: 0.5px solid #000000;
  border-radius: 50%;
}

.header__nav-link {
  font-size: 18px;
  text-underline-position: under;
  text-underline-offset: 4px;
  color: #000000;
}

/* Первый пункт без подчеркивания */
.header__nav-item:first-child .header__nav-link {
  text-decoration: none;
}

/* Второй и третий пункты со стандартным подчеркиванием */
.header__nav-item:nth-child(2) .header__nav-link,
.header__nav-item:nth-child(3) .header__nav-link {
  text-decoration: underline;
}

.header__nav-link_active {
  text-decoration: none;
}

.header__nav-link:hover {
  background-color: #000000;
  color: #FFF;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
  justify-self: center;
}

.header__logo-img {
  width: 100%;
}

.header__contact {
  justify-self: end;
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0.18px;
}

.header__contact a {
  display: block;
  text-underline-position: under;
}

.text-link:hover {
  background-color: #000000;
  color: #FFF;
}

/* === Hero секция === */
.hero {
  position: relative;
  height: 757px; /* ФИКСИРОВАННАЯ ВЫСОТА */
  padding: 165px 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000000;
}

.hero__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #FFF;
  font-weight: bold;
  font-size: 100px;
  line-height: 1;
  letter-spacing: 30px;
  text-transform: uppercase;
  padding: 0;
  flex-grow: 1; /* занимает доступное пространство */
}

.hero__title span {
  line-height: 125px;
}

.hero__title span:nth-child(1) {
  align-self: flex-start;
}

.hero__title span:nth-child(2) {
  align-self: center;
}

.hero__title span:nth-child(3) {
  align-self: flex-end;
  letter-spacing: 60px;
}

/* ИСПРАВЛЕННЫЙ БЛОК - подзаголовок и кнопка */
.hero__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto; /* прижимаем к низу */
}

.hero__subtitle {
  color: #FFF;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.hero__button {
  border: 1px #FFF solid;
  padding: 0;
  width: 256px;
  height: 51px;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 51px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
}

.hero__button:hover {
  color: #000000;
  background-color: #FFF;
}

/* === Секция лотов === */
.auction-lots {
  padding: 0 24px;
}

.auction-lots__title {
  padding: 179px 0 26px 64px;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

/* === Карточки с фоновыми изображениями === */
.auction-lots__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.auction-lots__grid li {
  min-height: 563px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.lot-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 563px;
  padding: 51px 40px 48px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.lot-card--film {
  background-image: url(../images/card-lot-01.jpg);
}

.lot-card--book {
  background-image: url(../images/card-lot-02.jpg);
}

.lot-card--art {
  background-image: url(../images/card-lot-03.jpg);
}

.overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.lot-card__content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.lot-card__title {
  color: #FFF;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.2;
  text-decoration-line: underline;
  text-transform: uppercase;
  margin-bottom: auto;
}

.lot-card__description {
  color: #FFF;
  font-size: 20px;
  line-height: 1.2;
  margin-top: auto;
}

.view-more {
  display: block;
  margin: 30px 0 0 64px;
  font-size: 20px;
  text-decoration-line: underline;
  text-underline-position: under;
  width: fit-content;
}

/* === Секция "О нас" === */
.about-us {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  padding: 34px 24px 0;
  margin-top: 0;
}

.about-us__logo-container {
  justify-self: center;
}

.about-us__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
}

.about-us__logo-img {
  width: 148px;
  height: 114px;
}

.about-us__content {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 100px;
}

.about-us__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.about-us__text {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.about-us__text p {
  font-size: 20px;
  line-height: normal;
}

.about-us__text p:first-child {
  margin-bottom: 25px;
  padding-top: 76px;
}

.about-us__text p:last-child {
  margin-bottom: 0;
  padding-top: 25px;
}

/* === Footer === */
.footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-content: space-between;
  align-items: start;
  padding: 180px 50px 88px;
  gap: 140px;
}

.footer__contacts {
  font-style: normal;
}

.footer__contacts a {
  display: block;
  font-size: 18px;
  line-height: 1.35;
  text-underline-position: under;
}

.footer__contacts p {
  font-size: 18px;
  line-height: 1.35;
}

.footer__nav {
  justify-self: center;
  padding-left: 35px;
}

.footer__nav-list {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__nav-link {
  font-size: 18px;
  line-height: normal;
  text-underline-position: under;
}

/* Первый пункт в футере без подчеркивания */
.footer__nav-list li:first-child .footer__nav-link {
  text-decoration: none;
}

/* Остальные пункты с подчеркиванием */
.footer__nav-list li:not(:first-child) .footer__nav-link {
  text-decoration: underline;
}

.footer__social {
  justify-self: end;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__social-link {
  display: block;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}


